# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast/*
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Local deployment outputs
deployments/base.toml
deployments/megaeth.toml
deployments/megaeth_quoters.toml
deployments/*.mainnet.toml
